
.font-inter {
  font-family: "Inter", sans-serif;
}

.font-55{
    font-size: 55px;
}

.font-34{
    font-size: 34px;
}

.font-21{
    font-size: 21px;
}

.font-13{
    font-size: 13px;
}

.zIndex-2{
    z-index: 2;
}